extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/dictionaries.js")
  script(nonce=cspNonce src="/javascripts/consultancy.js")
  script(nonce=cspNonce src="/javascripts/consultancy-search-mechanism.js")
  script(nonce=cspNonce src="/javascripts/query-focus-handler.js")

block body
  block preDefinitions
    - const resultAmountDisplay = false

  - const specificUserRights = user && isOwnConsultancyEnabled && (user.hasRole('consultant') || user.hasRole('consultancy admin'))
  -
    let descriptionText = t('Terminološka svetovalnica je namenjena širši strokovni javnosti, ki se sooča s konkretnimi poimenovalnimi problemi, pa naj gre za popolnoma nove pojme, ki jih je v slovenščini šele treba poimenovati, ali že znane pojme, za katere obstaja več poimenovanj.')
    descriptionText = isOwnConsultancyEnabled?descriptionText:descriptionText+t(" Terminološke odgovore pripravljajo sodelavci Terminološke sekcije Inštituta za slovenski jezik Frana Ramovša ZRC SAZU (in so objavljeni tudi na spletišču <a href='https://isjfr.zrc-sazu.si/sl/terminologisce/svetovanje'>Terminologišče</a>), ki pri delu upoštevajo osnovna terminološka načela.")
  //- include /common/side-menu-fake
  //- +sideNavigationFake

  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  .consultancy-padding-main.p-squeeze-lg
    include /utilities/consultancy-main-panel-header
    block headerConfig
      - const c = { specificRights: specificUserRights, exportButtonPresent: false, h1: t('Terminološko svetovanje'), description: descriptionText, buttons: [{ type: 'link', content: t('Zastavi novo vprašanje'), url: '/svetovanje/vprasanje/novo' }], show5MostRecent: true }
    +mainHeader(c)
    .content-hold-prerequisites.ps-0.pe-0
      #offset-main
        include /components/consultancy/consultancy-item
        #results-data.consultancy-container
          // To remove duplicates
          //- - const moderatorList = entryList.filter(a => a.isModerator) // All published questions have a moderator...
          each entry in entries
            +consultancyItem(entry)

        //- .d-flex.justify-content-center.mt-5
          span soslfmkelčfmewqčfmčewkmfkčewfmkčewfmkmfewklfmewlk

  include /common/footer
