extends /pages/consultancy/index

block preDefinitions
  - const resultAmountDisplay = true

block headerConfig
  - const c = { specificRights: specificUserRights, exportButtonPresent: true, h1: t('Terminološko svetovanje'), description: descriptionText, buttons: [{ type: 'link', content: t('Zastavi novo vprašanje'), url: '/svetovanje/vprasanje/novo' }], show5MostRecent: false }
