extends /pages/consultancy/admin/consultancy-admin-inheritable-module

block config
  - const pageTypeObject = { inProgress: true }
  - const subHeading = t('V delu')
  - const description = t('Seznam vprašanj, ki so še v urejanju.')
