extends /pages/consultancy/admin/consultancy-admin-inheritable-module

block config
  - const pageTypeObject = { inProgress: true }
  - const subHeading = 'V delu'
  - const description = 'Seznam vprašanj, ki so še v urejanju.'
