extends /pages/consultancy/admin/consultancy-admin-inheritable-module

block config
  - const pageTypeObject = { prepared: true }
  - const subHeading = t('Pripravljeno')
  - const description = t('Seznam urejenih vprašanj, ki čakajo na potrditev dokončne objave.')
