extends /pages/consultancy/admin/consultancy-admin-inheritable-module

block config
  - const pageTypeObject = { prepared: true }
  - const subHeading = 'Pripravljeno'
  - const description = 'Seznam urejenih vprašanj, ki čakajo na potrditev dokončne objave.'
