extends /pages/consultancy/admin/consultancy-admin-inheritable-module

block config
  - const pageTypeObject = { published: true }
  - const subHeading = t('Objavljeno')
  - const description = t('Seznam objavljenih vprašanj.')
