extends /pages/consultancy/admin/consultancy-admin-inheritable-module

block config
  - const pageTypeObject = { published: true }
  - const subHeading = 'Objavljeno'
  - const description = 'Seznam objavljenih vprašanj.'
