extends /pages/consultancy/admin/consultancy-admin-inheritable-module

block config
  - const pageTypeObject = { rejected: true }
  - const subHeading = t('Zavrnjeno')
  - const description = t('Seznam vprašanj, ki so jih moderatorji zavrnili in jih je treba dodeliti nekomu drugemu.')
