//- TODO MARK FOR DELETION

mixin sideNavigationFake
  .admin-nav
    #admin-nav-mobile.admin-nav-mobile
      .mobile-left-holder.ms-3
        span#nav-title.nav-title= t('Urejanje')
      #mobile-right-holder.d-flex
