extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/comments.js")
  script(nonce=cspNonce src="/javascripts/dictionaries.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-dictionaries
  - const d = { activeLvl1: 'attributes', activeLvl2: 'comments' }
  +sideNavigation(d)
  include /utilities/dictionaries-main-panel-header
  //- TODO I18n 
  - const c = { sideMenu: true, h2: dictionaryName, h1: t('Komentarji'), description: t('Tu so zbrani vsi komentarji, povezani z vašim slovarjem.') }
  +mainHeader(c)

  .comments-content.col-12.col-md-12.pt-md-3.bd-content.content-hold-prerequisites
    #offset-main.main-container
      include /utilities/comments-with-pager

      include /common/footer
