extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/dictionaries.js")
  script(nonce=cspNonce src="/javascripts/dictionary-import-extraction.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-dictionaries
  - const d = { activeLvl1: 'import', activeLvl2: 'extraction' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  //- TODO I18n
  - const c = { sideMenu: true, h2: dictionaryName, h1: t('Uvoz iz luščilnika'), description: t('Rezultat luščenja so terminološki kandidati. Z uvozom rezultatov posameznega luščenja lahko dopolnite geslovnik terminološkega slovarja, ki ga urejate.'), buttons: [] }
  +mainHeader(c)
  include /utilities/dictionary-extraction-import-mixin
  +dictionary-extraction-import
