extends /layout
block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/dictionaries.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-dictionaries
  - const d = { activeLvl1: 'import', activeLvl2: 'file' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  //- TODO I18n 
  - const c = { sideMenu: true, h2: dictionaryName, h1: t('Uvoz iz datoteke'), description: t('Če imate pripravljen slovar v enem od formatov, ki so navedeni spodaj, lahko svoje podatke uvozite.'), buttons: [] }
  +mainHeader(c)
  include /utilities/dictionary-import-mixin
  +dictionary-import(dictionary.id)
