extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/comments.js")
  script(nonce=cspNonce src="/javascripts/dictionaries.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-admin
  - const d = { activeLvl1: 'comments', activeLvl2: '' }
  +sideNavigation(d)
  include /utilities/dictionaries-main-panel-header
  //- TODO I18n 
  - const c = { sideMenu: true, h2: t('Urejanje'), h1: t('Komentarji'), description: t('Na tem mestu so zbrani vsi komentarji, povezani s terminološkim portalom.') }
  +mainHeader(c)

  .comments-content.col-12.col-md-12.pt-md-3.bd-content.content-hold-prerequisites
    #offset-main.main-container
      include /utilities/comments-with-pager

  include /common/footer
