extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/dictionaries.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-admin
  - const d = { activeLvl1: 'dictionaries', activeLvl2: 'subareas' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  //- TODO I18n 
  - const c = { sideMenu: true, h2: dictionaryName, h1: t('Področne oznake'), description: t('Na tem mestu lahko določite področne oznake, če želite posamezne termine v svojem terminološkem slovarju razvrstiti še podrobneje.'), helpLink: { linkHref: '/pomoc#help-content-domains', linkText: t('Več ...') }, buttons: [{ form: 'dictionary-domain-labels', type: 'disabled', content: t('Shrani') }] }
  +mainHeader(c)
  include /utilities/dictionary-domain-labels-mixin
  +dictionary-domain-labels
