extends /layout
block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/dictionaries.js")
  script(nonce=cspNonce src="/javascripts/dictionary-export.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-admin
  - const d = { activeLvl1: 'dictionaries', activeLvl2: 'export' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  //- TODO I18n 
  - const c = { sideMenu: true, h2: dictionaryName, h1: t('Izvoz'), description: t('Terminološke slovarje lahko v celoti ali po izbranih kriterijih izvozite v različnih formatih in shranite na svojem računalniku.'), buttons: [] }
  +mainHeader(c)
  include /utilities/dictionary-export-content-mixin
  +dictionary-export-content(dictionary.id)
    include /common/footer
