p Pozdravljeni #{ username },
p to sporočilo ste prejeli, ker na Slovenskem terminološkem portalu želite spremeniti elektronski naslov.
p Za spremembo naslova potrebujete le še potrditi, da je to res vaš novi elektronski naslov. Povezava je veljavna 7 dni.
a(href=changeEmailLink) Potrjujem svoj naslov
