p Pozdravljeni #{ username },
p to sporočilo ste prejeli, ker ste na Slovenskem terminološkem portalu registrirali nov uporabniški račun s tem elektronskim naslovom.
p Za uporabo računa potrebujete le še potrditi, da je to res vaš elektronski naslov. Povezava je veljavna 7 dni.
a(href=activationLink) Potrjujem svoj naslov
