p Dear #{ username },
p You have received this massage because a new user account has been created on the Slovenian Terminology Portal using this e-mail address.
p To activate your account, you must confirm that this is the correct e-mail address. The link will be active for 7 days.
a(href=activationLink) I confirm my e-mail address.
