p Dear #{ username },
p you have received this message because you want to change the password for the Slovenian Terminology Portal user account connected to this e-mail address.
p To reset the password, click the link below. The link will be valid for 1 day.
a(href=resetPasswordLink) Password reset
