p Dear #{ username },
p you have received this message because you want to change the e-mail address used for your Slovenian Terminology Portal account.
p To change the e-mail address, please confirm that this is your new e-mail address. The link will be valid for 7 days.
a(href=changeEmailLink) I confirm my e-mail address
