//- TODO MARK FOR DELETION

.comments-pager
  span#comments-count.comment-count
  span
    .content-list-pager.d-flex.flex-grow-1.justify-content-end
      a(href="#")
        img(src="/images/chevron-left.svg" alt="")
      a(href="#") 1
      a(href="#") 2
      a.selected(href="#") 3
      a(href="#")
        img(src="/images/chevron-right-2.svg" alt="")
