// TODO MARK FOR DELETION

.row.d-flex.align-items-center
  .col-sm-3
    span.bold-blue-text Verzija 12
  .col-sm-3
    span.normal-gray-label ID:99999999
  .col-sm-3
    input#not-published.normal-gray-label.me-2(type="checkbox" name="")
    label(for="not-published") Neobjavljeno
  .col-sm-3
    input#was-terminology_checked.normal-gray-label.me-2(
      type="checkbox"
      name=""
    )
    label(for="was-terminology_checked") Strokovno pregledano
.row.d-flex.align-items-center.mt-3
  .col-sm-3
    span.bold-blue-text ime.priimek@gmail.com
  .col-sm-3
    span.normal-gray-label HM:22
  .col-sm-3
    input#was-published.normal-gray-label.me-2(type="checkbox" name="")
    label(for="was-published") Urejeno
  .col-sm-3
    input#was-language_checked.normal-gray-label.me-2(type="checkbox" name="")
    label(for="was-language_checked") Jezikovno pregledano
  .note-section.row.mt-3
    .col-xxl-1
      span.heavy-black-text OPOMBA
    .col
      p.normal-gray-label Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
