mixin mainHeader
  #offset-padding.header-section-root.no-side-menu.consultancy-padding-main.flex-grow-0
    .d-flex.justify-content-between.flex-wrap.flex-row.row
      .d-block.w-100
    .header-consultancy-content.w-100
      .d-block.w-100
