.help-nav
  .help-nav-mobile
    .mt-0.help-nav-title Pomoč
    button#nav-button.nav-button
      img#burger-menu-img(src="/images/burger-menu-button-icon.svg" alt="Meni")
    .nav-title.d-xl-none
      span.nav-title.ms-0 Pomoč

  nav.d-block.navbar.flex-column.py-0.slidable
    nav#help-nav-scrollspy.d-block.nav.nav-pills.help-nav-content.scroller-style
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-general") Splošno o portalu
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-search") Iskanje
        nav.d-block.collapsed-content.nav-pills.nav.d-flex.flex-column
          a.nav-link.ms-2(href="#help-basic-search") Osnovno iskanje
          a.nav-link.ms-2(href="#help-advanced-search") Napredno iskanje
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-extraction") Luščenje
        nav.d-block.collapsed-content.nav-pills.nav.flex-column
          a.nav-link.ms-2(href="#help-specialized-corpuses") Specializirani korpusi
          a.nav-link.ms-2(href="#help-my-corpuses") Lastni uporabniški korpus
          a.nav-link.ms-2(href="#help-corpus-oss") Korpus OSS
          a.nav-link.ms-2(href="#help-stop-lists") Seznam neželenih besed
          a.nav-link.ms-2(href="#help-extraction-areas") Področja
          a.nav-link.ms-2(href="#help-terminology-candidates") Terminološki kandidati
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-editor") Urejanje
        nav.d-block.collapsed-content.nav-pills.nav.flex-column
          a.nav-link.ms-2(href="#help-new-dict") Nov slovar
          a.nav-link.ms-2(href="#help-edit-dict") Urejanje lastnosti slovarja
          a.nav-link.ms-2(href="#help-users-dict") Uporabniki
          a.nav-link.ms-2(href="#help-structure-dict") Struktura slovarskega sestavka
          a.nav-link.ms-2(href="#help-comments-dict") Komentiranje
          a.nav-link.ms-2(href="#help-content-dict") Urejanje vsebine slovarja
          a.nav-link.ms-2(href="#help-import-dict") Uvoz podatkov
          a#help-nav-small-font.help-collapsible.subarea-link.nav-link.ms-2.pt-1(
            href="#help-content-add"
          ) Dodajanje slovarskih sestavkov
          nav.d-block.collapsed-content.nav-pills.nav.flex-column
            a.nav-link.ms-3(href="#help-content-headword") Oblike, naglasi, izgovor
            a.nav-link.ms-3(href="#help-content-domains") Področne oznake
            a.nav-link.ms-3(href="#help-content-label") Pojasnilo
            a.nav-link.ms-3(href="#help-content-def") Definicja
            a.nav-link.ms-3(href="#help-content-syn") Sinonimi
            a.nav-link.ms-3(href="#help-content-links") Povezani termini
            a.nav-link.ms-3(href="#help-content-other") Drugo
            a.nav-link.ms-3(href="#help-content-flang") Tuji jeziki (elementi)
            a.nav-link.ms-3(href="#help-content-history") Zgodovina urejanja
            a.nav-link.ms-3(href="#help-content-comments") Komentarji

      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-consulting") Svetovanje
        nav.d-block.collapsed-content.nav-pills.nav.flex-column
          a.nav-link.ms-2(href="#help-consult-questions") Pošiljanje vprašanj
          a.nav-link.ms-2(href="#help-consult-principles") Terminološka načela
          a.nav-link.ms-2(href="#help-consult-link") Povezava
          a.nav-link.ms-2(href="#help-consult-answers") Objava odgovorov
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-administration") Administracija
        nav.d-block.collapsed-content.nav-pills.nav.flex-column
          a.nav-link.ms-2(href="#help-administration-settings") Osnovne nastavitve
          a.nav-link.ms-2(href="#help-administration-link") Povezave s portali
          a.nav-link.ms-2(href="#help-administration-dictionaries") Slovarji
          a.nav-link.ms-2(href="#help-administration-list") Seznam slovarjev
          a.nav-link.ms-2(href="#help-administration-basics") Osnovni podatki
