h1 Pomoč

h2#help-general Splošno o portalu

p Terminološki portal je storitev, ki je bila razvita v okviru projekta #[a(href="https://www.slovenscina.eu//" target="_blank") Razvoj slovenščine v digitalnem okolju].
p Storitev iskanja po terminološkem portalu je uporabnikom na voljo brez registracije. Za uporabo drugih storitev - #[a(href="https://terminoloski.slovenscina.eu/luscenje" target="_blank") luščenja], #[a(href="https://terminoloski.slovenscina.eu/slovarji/moji" target="_blank") urejanja] terminoloških slovarjev, komentiranje in zastavljanje terminoloških vprašanj v #[a(href="https://terminoloski.slovenscina.eu/svetovanje" target="_blank") svetovalnici] pa je ob prvem obisku potrebna registracija, ob vseh naslednjih pa prijava. Registrirate ali prijavite se lahko se lahko na prvi strani portala desno zgoraj (zavihek Prijava).

h3#help-registration Registracija

p Registrirate se lahko na prvi strani portala #[a(href="https://terminoloski.slovenscina.eu" target="_blank") desno zgoraj]. Vnesti morate veljaven elektronski naslov, na katerega boste dobili povezavo za potrditev računa. Če povezave niste dobili, preverite tudi vsiljeno pošto.

p Vaša registracija bo veljavna, ko boste potrdili, da ste se seznanili s #[a(href="politika-zasebnosti" target="_blank") Politiko zasebnosti] in sprejeli #[a(href="pogoji-uporabe" target="_blank") Pogoje uporabe].

h2#help-search Iskanje

h3#help-basic-search Osnovno iskanje

p Uporabnik lahko z vpisom iskalnega pogoja v iskalno okno išče po terminih ali delih terminov, ki ga zanimajo. Z vnosom iskalnega niza in potrditvijo se bodo prikazali zadetki, ki ustrezajo iskalnemu pogoju. Zadetki so razvrščeni tako, da so najprej prikazani popolni zadetki med iztočnicami, sledijo zadetki, ki ustrezajo delu iztočnice in nato zadetki, ki jih najdemo v drugem delu slovarskega sestavka. Vsi slovarski sestavki, ki so vključeni v terminološki portal, imajo iztočnico v slovenščini. Nekateri imajo ustreznik v tujem jeziku ali definicijo, nekateri pa oboje in še druge povezane podatke.

p Iskalni pogoj lahko sestavlja niz črk in znak *, ki nadomešča poljubno število znakov. Terminološki portal je povezan tudi s terminološkimi slovarji na spletišču #[a(href="https://isjfr.zrc-sazu.si/sl/terminologisce" target="_blank") Terminologišče], ki ga upravlja #[a(href="https://isjfr.zrc-sazu.si/sl" target="_blank") Inštitut za slovenski jezik Frana Ramovša ZRC SAZU], ter terminološkimi slovarji na slovarskem portalu #[a(href="https://www.termania.net" target="_blank") Termania], ki ga upravlja podjetje #[a(href="https://www.amebis.si/" target="_blank") Amebis].

p Seznam zadetkov vsebuje termin, oznako za definicijo, če jo zadetek ima in izpisane ustreznike v vseh tujih jezikih. S klikom na posamezni termin se odpre celoten slovarski sestavek.

p Slika:
img(src="/images/Iskalni_zadetki.png" alt="Iskalni zadetki") 

p Filtri omogočajo dodatno razvrščanje zadetkov po #[b jezikih], #[b področjih], #[b slovarjih] in tudi #[b viru], če želite preveriti zadetke povezanega termiološkega portala.

p Slika:
img(src="/images/Filtri.png" alt="Filtri") 

h3#help-advanced-search Napredno iskanje

p Napredno iskanje se odpre s klikom na puščico na desnem robu iskalnega okna. Poleg iskalnega niza se lahko v spustnem meniju izbere še izvorni jezik (za zadetke v terminoloških slovarjih drugih portalov), ciljni jezik, področje, slovar in tudi vir.

p S pritiskom na štiri majhne kvadratke se odpre polje s posebnimi znaki.

p Slika:
img(src="/images/Napredno_iskanje.png" alt="Napredno_iskanje") 

h2#help-extraction Luščenje

p Vsak začetek terminološkega dela je zbiranje besedil posameznega strokovnega področja. Na osnovi zbranih besedil se oblikuje specializirani korpus, ki je osnova za luščenje terminoloških kandidatov, torej besed in besednih zvez, ki so v primerjavi s splošnim jezikom značilne za izbrano strokovno področje. Luščenje na terminološkem portalu lahko uporabijo samo registrirani uporabniki. Vsak uporabnik lahko shrani do 5 korpusov in rezultatov luščenja.

h3#help-specialized-corpuses Specializirani korpusi

p Specializirani korpusi so zbirke besedil, ki sodijo na določeno strokovno področje in jih sestavljajo sodobna strokovna besedila, ki so uravnotežena po zvrsteh. Najprimernejša besedilna zvrst za luščenje terminologije so učbeniki, saj imajo načeloma vključeno potrebno področno terminologijo in vsebujejo tudi definicije. Ostale besedilne zvrsti, od zaključnih del, zlasti doktorskih disertacij, magistrskih del, tudi diplomskih del, do znanstvenih monografij in znanstvene periodike, so seveda potrebne in zaželene, se pa je treba zavedati, da so lahko precej ožje specializirani in lahko vsebujejo temu primerno manj raznolike področne terminologije, zato je treba poskrbeti, da besedila obravnavajo strokovna področja in podpodročja, ki bi jih radi vključi v slovar. Če nimamo lastnih besedil, lahko poiščemo besedila tudi v korpusu OSS, pri čemer moramo izbrati področje, navadno pa tudi ožje področje in leto izdida, da zamejimo število zadetkov.

h3#help-my-corpuses Lastni uporabniški korpus

p Besedila lahko zbere tudi uporabnik sam in ne uporabi besedil, ki so že jezikoslovno označena. Svetujemo, da so vsa besedila shranjena v besedilnem formatu (.txt), ker so rezultati luščenja veliko boljši. Tudi pri lastnem uporabniškem korpusu je treba paziti na pokritost področja, seveda pa se lahko na tak način dopolni terminologija, za katero uporabnik oceni, da je v korpusu ni, vendar oceni, da jo je treba vključiti.

h3#help-corpus-oss Korpus OSS

p Korpus OSS združuje vsa besedila, ki so dostopna na #[a(href="https://openscience.si/" target="_blank") Nacionalnem portalu odprte znanosti]. V korpus OSS so vključeni tudi metapodatki o besedilih, zlasti področje, vrsta besedila, leto izida, kar omogoča uporabniku ožanje nabora besedil. Vsa besedila so jezikoslovno označena in segmentirana, zato bo luščenje terminoloških kandidatov hitrejše.

h3#help-stop-lists Seznami neželenih besed

p Luščenje bo lahko bolj učinkovito, če boste pripravili tudi seznam neželenih besed, t. i. "stop sezname". Nanje lahko uvsrtite splošne termine, npr. poročilo, tabela, količnik, ali slovnične besede, ki se zaradi svoje pogostosti v korpusu kljub predhodnemu označevanju še vedno pojavijo med zadetki.

h3#help-extraction-areas Področja

p Klasifikacija področij na terminološkem portalu temelji na dveh uveljavljenih klasifikacijah, in sicer #[a(href="https://www.arrs.si/sl/gradivo/sifranti/sif-cerif-cercs.asp" target="_blank") Evropski klasifikaciji raziskovalne dejavnosti CERIF] ter klasifikaciji #[a(href="https://eur-lex.europa.eu/browse/eurovoc.html?locale=sl" target="_blank") Eurovoc]. Za lažjo izbiro področja smo pripravili tabelo, ki omogoča pretvorbo med klasifikacijami.

p #[a(href="pomoc/pdf" target="_blank") Tabela]

h3#help-terminology-candidates Terminološki kandidati

p Uporabnik po končanem luščenju dobi obvestilo na e-naslov, ki ga je vnesel ob registraciji, da se je postopek končal. Rezultat luščenja je seznam besed in besednih zvez, ki so v izbranih besedilih v primerjavi s splošnim jezikom značilni in se imenujejo terminološki kandidati. Na kakovost luščenja vplivajo izbrana besedila, in tudi t. i. stop-seznami, s katerimi aplikacija izloči tiste termine ali besede, ki so uvrščene na seznam. S čim bolj natančno pripravljenim seznamom lahko izboljšate seznam izluščenih kandidatov. Svetujemo vam, da sezname shranite v obliki .txt.

h2#help-editor Urejanje

p Urejanje je storitev, v kateri lahko registrirani uporabnik sam tvori nove vire. Ureja lahko seznam terminoloških kandidatov, ki jih uvozi #[dodatipovezavo] po koncu luščenja ali pripravi svoj seznam ter ga uvozi v urejevalnik. Pred začetkom mora izpolniti nekatere podatke o slovarju, da lahko začne z delom. Slovar lahko ureja sam ali pa k delu povabi še druge registrirane uporabnike. Pri oblikovanju novih terminoloških virov si lahko pomagate s #[a(href="pomoc/guidance-pdf" target="_blank") smernicami].

h3#help-new-dict Nov slovar

p Z izbiro gumba Nov slovar se odpre stran za vnos osnovnih podatkov o slovarju. Obvezna polja so označena z zvezdico. Področja je mogoče izbrati na spustnem seznamu. Če se vam zdi področje preširoko, lahko dodate tudi podpodročje. Tudi podpodročja so na voljo v spustnem seznamu, zato svetujemo, da najprej preverite, ali je že zapisano, sicer pa bo administrator portala potrdil vaš na novo zapisani predlog. Zanesljivost terminološkega vira se poveča tudi z vpisanimi metapodatki, zato svetujemo, da izpolnite vsa polja in na kratko opišete vsebino in način dela. Z izbiro sestavin slovarskega sestavka lahko vidite, katera polja bodo na voljo v urejevalniku.

h3#help-edit-dict Urejanje lastnosti slovarja

p Odpre se navigacijsko okno in polja, kamor je treba vnesti nekaj metapodatkov. Bolj dokumentirani viri so bolj zanesljivi, zato svetujemo, da izpolnite vsa polja.

p V zavihku Napredno lahko uporabnik izbriše tudi vse dotlej izdelane slovarske sestavke in ohrani metapodatke, lahko pa izbirše tudi celoten slovar. Obe dejanji sta nepovratni.

p Objava slovarskih sestavkov #[PREVERITI] pomeni, da se pošlje obvestilo administratorju portala, ki preveri, če vir ustreza formalnim zahtevam (ali imajo vsi slovarski sestavki termin v slovenskem jeziku in še definicijo in/ali ustreznik v vsaj enem tujem jeziku), objavi slovarske sestavke.

h3#help-users-dict Uporabniki

p Poleg osnovnih podatkov o slovarju v zavihku Uporabniki lahko dodamo nove sodelavce in jim dodelimo uporabniške vloge. Te so namenjene različnim pravicam spreminjanja in urejanja slovarja. V istem zavihku z izbiro gumba Slovar je odprt pošljemo sporočilo administratorju, da želimo slovar objaviti.

h3#help-structure-dict Struktura slovarskega sestavka

p Z izbiro sestavin slovarskega sestavka lahko vidite, katera polja bodo na voljo v urejevalniku. Obvezne sestavine so termin v slovenskem jeziku in vsaj še definicija ali ustreznik v enem tujem jeziku. Vsak slovar mora imeti torej najmanj dve vrsti podatkov. Na voljo je več možnosti, pri čemer je smiselno, da imajo izbrane sestavine, npr. ustreznike v hrvaščini pretežno vsi vključeni slovarski sestavki, saj je tako slovar bolj zanesljiv.

h3#help-comments-dict Komentiranje

p Komentiranje je namenjeno sporazumevanju med avtorji slovarja in hkrati komunikaciji med uporabniki in avtorji. Vsak uporabnik, ki je administrator slovarja, se lahko odloči, ali bodo komentarji vidni vsem ali le avtorjem.

h3#help-content-dict Vsebina slovarja

p Osrednji del urejevalnika je stran s polji za vnos podatkov v slovarskem sestavku. Dokler ni izpolnjen pogoj vnosa dveh vrst podatkov, urejevalnik sporoča, da je slovarski sestavek neveljaven.

p Slika:
img(src="/images/Neveljavno.png" alt="Neveljavno")

h3#help-import-dict Uvoz podatkov

p Shranjeni seznam lahko tudi uvozite. #[Dopolniti]

h3#help-content-add Dodajanje novih slovarskih sestavkov

p Nov slovarski sestavek dodamo z izbiro gumba #[b Nov]. Če podatkov ne shranimo in takoj izberemo gumb Nov, se vnos ne shrani.

h4#help-content-headword Oblike, naglasi, izgovor

p Terminološki portal je povezan z Leksikalno bazo. Z izbiro aktivne povezave, se boste preselili v novo okno, kjer boste lahko preverili, potrdili ali popravili ponujene podatke. Nekateri podatki v leksikalni bazi so bili pregledani in potrjeni, nekateri pa so strojno ustvarjeni. Pri teh bo zelo dragoceno, če jih boste lahko potrdili ali predlagali popravek.

h4#help-content-domains Področne oznake

p Področne oznake so namenjene podrobnejšemu razvrščanju pojmov v manjše pojmovne skupine in niso obvezne, svetujemo jih pri slovarjih, ki obsegajo večjo količino terminov, npr. prek 1000. Področne oznake so povsem poljubne in jih avtorji lahko oblikujejo po svojih željah.

h4#help-content-label Pojasnilo

p Pojasnilo je namenjeno zapisu okoliščin, ki sicer niso del pojma, olajšajo pa umestitev pojma. Takšna so npr. časovna pojasnila (#[i do leta 2007], #[i v 19. stoletju], #[i med letoma 1988 in 1992] in natančnejša področna pojasnila (#[i v kazenskem procesnem pravu], #[i v biodinamični pridelavi], #[i pri reševanju na vodi]).

h4#help-content-def Definicija

p Definicija umesti pojem v pojmovni sistem in določi nadrejeni pojem ali pojmovno skupino, npr. vse davke opisujemo na enak način in začnemo definicijo z #[i davek], nato pa opišemo značilnosti pojma v razmerju do drugih pojmov v skupini, zlasti osnovne značilnosti in razlike, npr. #[i davek na zapuščino] je davek, ki obdavčuje prenos premoženja umrle osebe na pravne naslednike.

h4#help-content-syn Sinonimi

p V nekaterih primerih za en pojem obstajata dve poimenovanji, v nekaterih primerih celo več, zato jih je smiselno zabeležiti. Kljub vsemu pa je to podatek povezan s pojmom, zato je to zapisano pri osnovnem pojmu. Za #[i dokazno sredstvo] se v slovenščini uporabljata tudi termina #[i dokaz] in #[i dokazilo], zato sta zapisana kot sinonimni poimenovanji pri #[i dokaznem sredstvu].

h4#help-content-links Povezani termini

p Pri oblikovanju pojmovnega sistema zabeležimo tudi termine, ki označujejo sorodni pojem, na katerega želimo opozoriti, zato jih izberemo iz nabora že urejenih slovarskih sestavkov. Tako npr. lahko povežemo vse vrste davkov. Pri vključevanju povezav je treba pomisliti na uporabnika, ki vsebine predstavljenega strokovnega področja ne pozna, zato je treba premisliti, katere termine želimo povezati in tako omogočiti popolnejšo informacijo.

h4#help-content-flang Tuji jeziki

p V tujem jeziku lahko poleg ustreznika zapišemo tudi definicijo in morebitne znane sinonime. Praviloma kot ustreznik izberemo najpogostejši tuji termin, druge, manj pogoste, pa navedemo kot sinonime v tujem jeziku. Definicija naj bi ustrezala definiciji v slovenščini. Če je povsem drugačna, zlasti, če je citirana iz drugega vira, lahko povzroči dvom o samem pojmu, zato svetujemo, da dodatne informacije dopolnite v polju Drugo.

h4#help-content-other Drugo

p V ta del lahko vključite vse dodatne podatke o terminu in pojmu, npr. primere rabe, vir, od koder ste črpali definicije, morebitne pomisleke.

h4#help-content-history Zgodovina urejanja

p Proces urejanja slovarja je postopek, ki traja več časa. Odločitve, ki jih sprejmemo, se lahko tudi spremenijo in pogosto ponovno povrnejo na začetno stanje. Urejevalnik nudi vpogled v pretekle shranjene različice. Z izbiro datuma v zaviku urejanje lahko opazujemo spremembe.

h4#help-content-comments Komentarji

p Komentiranje je namenjeno sporazumevanju med avtorji slovarja. Z njimi se lahko sporazumeva tudi skupina avtorjev, ki je sicer prostorko oddaljena in sodeluje prek urejevalnika na terminološkem portalu.

h2#help-consulting Svetovanje

p Svetovanje je namenjeno registriranim uporabnikom. Pomaga pri terminoloških problemih na področjih, kjer še ni izdelanih slovarskih virov, ali pa odgovora ne najdemo. Svetovanje izvajajo sodelavci #[a(href="https://isjfr.zrc-sazu.si/sl/terminologisce" target="_blank") Terminološke sekcije Inštituta za slovenski jezik Frana Ramovša ZRC SAZU].

h3#help-consult-questions Pošiljanje vprašanj

p Pri postavljanju vprašanj o najprimernejšem terminu so zelo pomembni posredovani podatki. Dovolj podatkov o terminološkem problemu omogoči svetovalcem, da svetujejo, katera rešitev bi bila najbolj ustrezna z vidika terminološke vede. Zato je zelo pomembno, da pri zastavljanju vprašanja v obrazec vnesete čim več podatkov o terminu, predvsem kaj ta pomeni, zelo koristni pa so tudi podatki o besedilih, v katerih se pojavlja, morebitne že obstoječe poimenovalne rešitve (ko več terminov označuje isti pojem), tujejezični ustrezniki itd.

h3#help-consult-principles Terminološka načela

p Najpomembnejše terminološko načelo je #[b načelo ustaljenosti], po katerem ima prednost termin, ki se v strokovnih besedilih najpogosteje uporablja; drugo pomembno terminološko načelo je #[b načelo gospodarnosti], po katerem imajo prednost krajši termini; tretje terminološko načelo je #[b načelo jezikovnosistemske ustreznosti], kar pomeni, da mora biti termin praviloma v skladu z jezikovnim sistemom jezika kot celote. Pomembno je tudi #[b jezikovnokulturno načelo], po katerem imajo prednost termini domačega izvora. Terminološka načela niso namenjena temu, da bi jih uporabljali mehanično, zato je vedno treba premisliti, kateremu terminološkemu načelu dati prednost v konkretnem primeru.

h3#help-consult-link Povezava

p Vključite v vprašanje tudi morebitne spletne povezave, kjer je uporabljen termin, po katerem sprašujete.

h3#help-consult-answers Objava odgovorov

p Odgovor bo objavljen v Terminološki svetovalnici Inštituta za slovenski jezik Frana Ramovša ZRC SAZU in prikazan tudi na Slovenskem terminološkem portalu. Na e-naslov, ki ste ga navedli ob registraciji, boste prejeli odgovor, preden bo objavljen.

h2#help-administration Administracija

p Portal je administriran. Sledi opis funkcij in pravic, ki jih ima administrator.

h3#help-administration-settings Osnovne nastavitve

p Administratorski del portala omogoča dodeljevanje pooblastil izbranim uporabnikom, ki jih administrator določi za skrbnike slovarjev in/ali svetovalnice.

h3#help-administration-link Povezave s portali

p Svoj terminološki portal lahko povežete z drugimi terminološkimi portali in ob soglasju administratorjev teh portalov prikazujete tudi njihove terminološke slovarje. Pri tem morate vnesti podatke o portalu, predvsem pa paziti tudi na podvojene podatke in jih primerno označiti. Dvočrkovne oznake portalov so specifične in unikatne za vsak posamezni portal.

h3#help-administration-dictionaries Slovarji

p Med terminološkimi slovarji na povezanem portalu lahko izberete vse slovarje, lahko pa samo nekatere, zlasti slovarje tistih področij, ki jih na vašem terminološkem portalu ni.

h3#help-administration-list Seznam slovarjev

p Urejate lahko podatke posameznega terminološkega slovarja ali pa izbrišete nekatere slovarje.

h3#help-administration-basics Osnovni podatki

p Vse podatke o terminološkem slovarju lahko dopolnite ali popravite, dodate lahko tudi podatek o ISSN oznaki, kar povečuje zanesljivost posameznega terminološkega vira.
