mixin mixedContentBtns(type)
  if (type)
    .mc-buttons-group.d-none
      button.mc-button.mc-bold(type="button")
        img.mc-center-img(src="/images/format_bold.svg" alt="" srcset="")
      button.mc-button.mc-italic(type="button")
        img.mc-center-img(src="/images/format_italic.svg" alt="" srcset="")
      button.mc-button.mc-supscript(type="button")
        img.mc-center-img(src="/images/superscript.svg" alt="" srcset="")
      button.mc-button.mc-subscript(type="button")
        img.mc-center-img(src="/images/subscript.svg" alt="" srcset="")
      button.mc-button.mc-hyperlink(type="button")
        img.mc-center-img(src="/images/mc-hyperlink.svg" alt="" srcset="")
      if (type==='br')
        button.mc-button.mc-line-break(type="button")
          img.mc-center-img(src="/images/line-break.svg" alt="" srcset="")
  if (!type)
    .mc-buttons-group.d-none
      button.mc-button.mc-supscript(type="button")
        img.mc-center-img(src="/images/superscript.svg" alt="" srcset="")
      button.mc-button.mc-subscript(type="button")
        img.mc-center-img(src="/images/subscript.svg" alt="" srcset="")
