#modal-spinner.modal(
  tabindex="-1"
  aria-labelledby="modal-spinner-label"
  aria-hidden="true"
)
  .modal-dialog.modal-spinner-center.modal-sm.d-flex.justify-content-center.mt-5
    .lds-default.mt-5
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
      div
