//-extends TEMPLATE-demo
//- TODO MARK FOR DELETION

block table-wrapper
  table.styled-table
    tbody
      tr
        th.header-table-wrapper ID
        th.header-table-wrapper OZNAKA
        th.header-table-wrapper NAZIV
        th.header-table-wrapper STRUKTURA
        th.header-table-wrapper STATUS
        th.header-table-wrapper USTVARJEN
        th.header-table-wrapper SPREMENJEN
        th.header-table-wrapper RAZNO
        th
      block table-item
