//- TODO MARK FOR DELETION



h2 Iskanje

p bold #[b adasdasda]
p bold+ #[b dasdas#[sup 1] dasd#[sub 2]]
p italic #[i sddasd]
p italic+ #[i dadsasda#[sup 1] dsada#[sub 2]]
p bold+italic #[b #[i sdasd]]
p bold+italic+ #[b #[i dsda#[sup 1] sddasd#[sub 2]]]
p Xxxxx #[a(href="https://www.amebis.si/" target="_blank") Amebis]
p Xxxxx #[a(href="https://www.amebis.si/") Amebis (v istem zavihku)]
p adasda #[b #[a(href="https://www.amebis.si/" target="_blank") Amebis]]
p as #[i #[a(href="https://www.amebis.si/" target="_blank") Amebis]]
p adada #[b #[i #[a(href="https://www.amebis.si/" target="_blank") Amebis]]]

p Xxxxx #[a(href="https://www.amebis.si/" target="_blank") Amebis] asd as das da sd as da s d a sd as d a s d as
  //- To je komentar, ki se ne interpretira.
  //- Vrstica se lahko v pug sintaksi lomi na sledeč način, vendar pozor:
  //- Lom v sintaksi je namenjen preglednejši sintaksi, NE prevede pa se v lom, temveč v presledek,
  //- zato je lom v sintaksi smiselno narediti namesto presledka v želenem besedilu.
  | #[b dasdas#[sup 1] dasd#[sub 2]] a sdasdasd asd asd as das d a sd a sd a s d a s d  a s d  a sd #[b adasdasda]
  | d asddsda #[i sddasd] adada #[i dadsasda#[sup 1] dsada#[sub 2]] sd dsad adasda #[b #[a(href="https://www.amebis.si/" target="_blank") Amebis]]
  | dsasd aas  da d a dasdas d a #[b #[i sdasd]] a sda sd  a s #[b #[i dsda#[sup 1] sddasd#[sub 2]]] adada dadsasda dsada.

p Xxxxx
  //- Če pretiravam v lomih za namen demonstracije učinka na rezultat (lomi --> presledki).
  | asd
  | as
  | das
  //- Konec pretiravanja.
  //- Dolžina vrstice pug sintakse naj bo taka, da bo čimbolj pregledna (npr. ne daljša od 150 znakov).
  //- Dolžina končne vrstice bo dinamična in se bo avtomatsko prilagajala trenutni širini brskalnika ter drugim dejavnikom.
  | da sd as da s d a sd as d a s d as #[i #[a(href="https://www.amebis.si/" target="_blank") Amebis]] dasdasdasd a sdasdasd
  | asd asd as das d a sd a sd a s d a s d  a s d  a sd adasdasda d asddsda sddasd adada #[b #[i #[a(href="https://www.amebis.si/" target="_blank") Amebis]]]
  | dadsasda dsada sd dsad.

p Naštevanje:
ul
  li ena
  li dva
    ul
      li ena2
      li dva2 - as dlaskldkalskjd lakls jldkj laksldjklaskj dlkajslkjd lakjs lkj dlkj lakjs lkj lkj lkj lkdjlakjs lkdj aklsd l
      li tri2
  li tri
//- Če bi kje želeli večji razmak, kot običajno, lahko uporabimo enega ali več "br" elementov.
br
br
br
br
br
ol
  li ena - asdasdnba sdasd as dlakskdlaks dlakskjdlkjalksj lkdj lka lsklk dlak slkj dlkaj lkj slkj dl alksjdl akslkj lkj dlkj alk lsk ldkj als dkj
  li dva
    ol
      li ena
      li dva
      li tri
  li tri

p Tabela:
table
  tr
    th
    th 1
    th 2
    th 3
  tr
    td #[i a]
    td a1
    td a2
    td a3
  tr
    td #[i b]
    td b1
    td
    td b3

p Slika:
  //- Za prikaz slike potrebujemo tudi izvorno sliko.
  //- Tu uporabim sliko poimenovano "help-amebis-logo-pug-demo.png".
  //- Vsebina polja "alt" se uporabi, ko slika ni na voljo ali za slepe uporabnike, ki slike ne vidijo.
  //- Ta vsebina mora torej podati vso informacijo, tako, da bi lahko z njo v celoti nadomestili sliko,
  //- saj jo slepi/slabovidni uporabniki slišijo na mestu, kjer je za ostale umeščena slika.
  img(src="/images/help-amebis-logo-pug-demo.png", alt="Demo Amebisov logo")

  figure
    img(src="/images/help-amebis-logo-pug-demo.png", alt="Demo Amebisov logo")
    figcaption Podnapis

p Konec.

h3 Osnovno iskanje
p xxxxx

h3 Napredno iskanje
p xxxxx

h2 Luščenje
p xxxxx

h3 Specializirani korpusi
p xxxxx

h3 Lastni uporabniški korpus
p xxxxx

h3 Korpus OSS
p xxxxx

h3 Področja
p xxxxx

h3 Terminološki kandidati
p xxxxx

h2 Urejanje
p xxxxx

h3 Nov slovar
p xxxxx

h3 Urejanje lastnosti slovarja
p xxxxx

h3 Uporabniki
p xxxxx

h3 Struktura slovarskega sestavka
p xxxxx

h3 Komentiranje
p xxxxx

h3 Urejanje vsebine slovarja
p xxxxx

h3 Uvoz podatkov
p xxxxx

h3 Dodajanje novih slovarskih sestavkov
p xxxxx

h4 Zaglavje
p xxxxx

h4 Področne oznake
p xxxxx

h4 Pojasnilo
p xxxxx

h4 Definicija
p xxxxx

h4 Sinonimi
p xxxxx

h4 Povezave
p xxxxx

h4 Tuji jeziki (elementi)
p xxxxx

h4 Zgodovina urejanja
p xxxxx

h4 Komentarji
p xxxxx

h2 Svetovanje
p xxxxx

h3 Pošiljanje vprašanj
p xxxxx

h3 Terminološka načela
p xxxxx

h3 Povezava
p xxxxx

h3 Objava odgovorov
p xxxxx

h2 Administracija
p xxxxx
