extends /layout

block body
  section.sticky-top
    include /common/main-navigation
    +main-navigation(false)
  .consultancy-padding-main.p-squeeze-lg.mt-2
    h1 Privacy policy
    p This Privacy policy defines collection, storage, and processing of personal data, collected by the University of Ljubljana during user registration on the #[b Slovenian Terminology Portala].
    .mt-4
    h2 Data controller
    p Data controller as defined by the EU General Data Protection Regulation and the applicable act that regulates personal data protection is:
    span University of Ljubljana
    span Kongresni trg 12, 1000 Ljubljana, Slovenija
    a(href="mailto:dpo@uni-lj.si") dpo@uni-lj.si
    .mt-4
    h4 Data protection officer
    p Data protection officer (DPO) and the person who can answer all questions related to processing of personal data in the scope of the Development of Slovene in a Digital Environment Project is Nina Komočar Urbanija. You can send all your questions, queries, and demands to exercise your rights related to your personal data in the scope of the Development of Slovene in a Digital Environment Project:
    span.ms-4 -	via e-mail to #[a(href="mailto:dpo@uni-lj.si") dpo@uni-lj.si],
    span.ms-4 -	via mail to the address of the Data controller: DPO, University of Ljubljana, Kongresni trg 12, 1000 Ljubljana, Slovenija.
    .mt-4
    h2 Personal data and our purposes for processing it
    p To use advanced functions of the Slovenian Terminology Portal, you must register via registration form on the webpage #[a(href="http://terminoloski.slovenscina.eu" target="_blank") http://terminoloski.slovenscina.eu]. By filling in and submitting this form, you will send the University of Ljubljana the following contact data:
    ul
      li #[b User name]
      li #[b First Name]
      li #[b Last Name]
      li #[b E-mail]
    p We need the contact data collected via the registration form to personalize your content and enable some of the Terminology Portal functions (e.g. storing extraction results), and to communicate with you regarding any questions related to the functions of the Terminology Portal.
    p If you decide not to submit the above mentioned contact data, your registration will not be completed and you will not be able to use all functions offered by the Terminology Portal.
    p The University of Ljubljana respects your privacy and is committed to act with diligence and in accordance with the applicable data protection regulations when collecting, storing and processing personal data.
    p We use appropriate technological and organizational processes to protect the data we collect, to prevent unauthorized access to the collected data and any data disclosures, and to ensure accuracy and appropriate use of the data.
    .mt-4
    h2 Legal basis for data processing - consent
    p The University of Ljubljana processes the personal data you provide during the registration process on the #[b Slovenian Terminology Portal] with your clear and unambiguous consent based on Article 6 (1), (a) of the EU General Data Protection Regulation (GDPR).
    span You consent to the processing of your personal data by filling in the required data and clicking "Register" on the Slovenian Terminology Portal web page found at the link #[a(href="http://terminoloski.slovenscina.eu" target="_blank") http://terminoloski.slovenscina.eu].
    span You can withdraw your consent at any time by deleting your user account in the "Account settings" tab.
    span If you withdraw your consent and close your user account, we will stop using your personal data to communicate with you.
    span Potential withdrawal of the consent does not impact the legality of personal data processing in the time period before the consent was withdrawn.
    .mt-4
    h2 Your rights
    span In accordance with the provisions of the EU General Data Protection Regulation (GDPR), you have the right to access your personal data, the right to rectification, the right to erasure ("the right to be forgotten"), the right to data portability, the right to request the restriction of the processing of personal data and the right to object. You can check and change your personal data at any time by clicking the link "Change profile settings".
    p To exercise all of your rights or to obtain additional information, please contact our Data Protection Officer at the e-mail address: #[a(href="mailto:dpo@uni-lj.si") dpo@uni-lj.si]. We will process your application and respond to it in accordance with the GDPR.
    p If you believe your rights or any data protection regulations are being violated, you can complain to the competent national authority:
    p You can send the complaint to the Information Officer (Dunajska cesta 22, 1000 Ljubljana, e-mail: #[a(href="mailto:gp.ip@ip-rs.si") gp.ip@ip-rs.si] phone: 012309730, website: #[a(href="www.ip-rs.si" target="_blank") www.ip-rs.si] )
    .mt-4
    h2 Personal data storage period
    p The University of Ljubljana stores your personal data (first name, last name, e-mail address) for as long as this is necessary for the purpose of your use of the Slovenian Terminology Portal, i.e. from your registration until the closure of your user account.
    .mt-4
    h2 Personal Data Users
    p Contracted Data Processor who maintains and hosts the website for the University of Ljubljana.
    .mt-4
    h2 Transfer of personal data to third countries or international organizations
    p Personal data in not transferred to third countries or international organizations.
    .mt-4
    h2 Cookies
    .mt-3
    h4 What are cookies?
    p Cookies are files in which website settings are stored. Websites store cookies on the devices the users use to access the internet in order to recognize individual devices and the settings individual users used when accessing the website. Cookies allow websites to remember whether the user has already visited a specific website. Advanced applications use cookies to personalize certain settings to individual users. The browser used by the user in in complete control of the cookie storing process. This means that the user can limit or deny which cookies are stored as desired.
    h4 Why are cookies necessary?
    p Cookies are essential for providing user-friendly on-line services. None of the most common e-commerce functions would be possible without cookies. Cookies make the interactions between the user and the website faster and simpler. They allow the website to remember the user’s preferences and experiences, making website browsing a more efficient and pleasant experience. There are several reasons to use cookies. Cookies can be used to store information on the status of individual web pages (details about the personalizations of individuals pages), to enable certain on-line services (e.g. on-line stores), to gather statistical data about the users and visits of the website, the visitors’ habits, etc. This means that cookies allow us to measure the effectiveness of our website design. You can read more about the recommended and allowed use of cookies on websites on the #[a(href="https://www.ip-rs.si" target="_blank") Information Officer website].
    h4 List of cookies on our website
    .mt-2
    h4 First party cookies
    p #[b sid] - System cookie. It is also used for user sign-in. It is essential for correct functioning of the website. The cookie remains present for up to two hours after your last activity on the portal.
    p #[b remember_me] - It is used for long-term user sign-in, if the user selects “Remember me" during the signing in process. The cookie remains present for 1 year after your last activity on the portal.
    p The cookies used on our website do not collect any personal data that could be used to recognize you personally and cannot harm your computer, tablet or mobile phone. The cookies make our website work and help us understand which information are the most useful for our visitors.
    .mt-4
    h2 Consent
    p By using this website you agree to let the website place cookies to your computer or mobile device.
    .mt-4
    h2 Managing and deleting cookies
    p If you want to change the way cookies are used in your browser, including blocking or deleting the cookies, you can do that by changing the browser settings. If you want to manage your cookies, most of the browsers allow you to accept or deny all cookies, allow you to accept only a certain type of cookies, or notify you when a website wants to install cookies in the browser. The cookies stored by the browser can also simply be deleted. If you change or delete the file with the cookies on your browser, or change or update your browser or device, it is possible that you will have to disable the cookies again. The process for managing and deleting cookies is different in every browser. If you need help, consult your browser’s help section.
    .mt-4
    h2 Here are the instructions to edit cookies in some browsers:
    ul
      li #[a(href="https://support.google.com/chrome/answer/95647?hl=sl" target="_blank") Google Chrome]
      li #[a(href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-10" target="_blank") Internet Explorer]
      li #[a(href="https://support.apple.com/guide/safari/manage-cookies-sfri11471/mac" target="_blank") Safari]
      li #[a(href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=en-US" target="_blank") Firefox]
      li #[a(href="https://help.opera.com/en/latest/web-preferences" target="_blank") Opera]
  include /common/footer
