extends /layout

block body
  section.sticky-top
    include /common/main-navigation
    +main-navigation(false)
  .consultancy-padding-main.p-squeeze-lg.mt-2
    h1 Politika zasebnosti
    p Ta politika zasebnosti ureja zbiranje, hrambo in obdelavo osebnih podatkov, ki jih Univerza v Ljubljani zbira od vas, ko se registrirate za uporabo #[b Slovenskega terminološkega portala].
    .mt-4
    h2 Upravljavec
    p Upravljavec osebnih podatkov, kot ga določata Splošna uredba EU o varstvu osebnih podatkov in veljavni zakon, ki ureja varstvo osebnih podatkov, je:
    span Univerza v Ljubljani
    span Kongresni trg 12, 1000 Ljubljana, Slovenija
    a(href="mailto:dpo@uni-lj.si") dpo@uni-lj.si
    .mt-4
    h4 Pooblaščena oseba za varstvo podatkov
    p Pooblaščena oseba za varstvo podatkov (DPO) in za vsa vprašanja v zvezi z obdelavo osebnih podatkov v okviru projekta RSDO je Nina Komočar Urbanija. Vsa vprašanja in poizvedbe, vključno z morebitnimi zahtevki za uveljavljanje svojih pravic v zvezi z osebnimi podatki v okviru projekta RSDO, mu lahko pošljete:
    span.ms-4 -	po e-pošti na naslov #[a(href="mailto:dpo@uni-lj.si") dpo@uni-lj.si];
    span.ms-4 -	po pošti na naslov upravljavca: Univerza v Ljubljani, Kongresni trg 12, 1000 Ljubljana, s pripisom »za DPO«.
    .mt-4
    h2 Osebni podatki in namen njihove obdelave
    p Če želite uporabljati napredne funkcije Slovenskega terminološkega portala, morate izpolniti obrazec za registracijo na spletni strani #[a(href="http://terminoloski.slovenscina.eu" target="_blank") http://terminoloski.slovenscina.eu]. Z izpolnitvijo tega obrazca za registracijo in njegovo potrditvijo posredujete Univerzi v Ljubljani naslednje kontaktne podatke:
    ul
      li #[b Uporabniško ime]
      li #[b Ime]
      li #[b Priimek]
      li #[b E-naslov]
    p Kontaktne podatke, ki nam jih posredujete ob izpolnitvi oz. oddaji obrazca za registracijo, potrebujemo za prilagoditev vsebin glede uporabe posameznih storitev (npr. shranjevanje rezultatov luščenja) in za komunikacijo z vami o vprašanjih, povezanih z uporabo posameznih storitev terminološkega portala.
    p V primeru, da nam ne posredujete navedenih kontaktnih podatkov, vaše registracije ne bomo obdelali in ne boste mogli uporabljati vseh storitev, ki jih ponuja terminološki portal.
    p Univerza v Ljubljani spoštuje vašo zasebnost in je zavezana, da pri zbiranju, hrambi in obdelavi osebnih podatkov ravna skrbno in v skladu z veljavnimi predpisi o varstvu osebnih podatkov.
    p Da bi preprečili nepooblaščen dostop do pridobljenih podatkov ali njihovo razkritje, ohranili natančnost osebnih podatkov in zagotovili njihovo ustrezno uporabo, uporabljamo ustrezne tehnične in organizacijske postopke za zavarovanje podatkov, ki jih zbiramo.
    .mt-4
    h2 Pravna podlaga za obdelavo - soglasje
    p Osebne podatke, ki nam jih posredujete ob registraciji na #[b Slovenski terminološki portal], Univerza v Ljubljani obdeluje z vašim jasnim in nedvoumnim soglasjem, ki temelji na členu 6 (1), (a) Splošne uredbe EU o varstvu osebnih podatkov (GDPR).
    span Soglasje za obdelavo osebnih podatkov podate s tem, ko na spletni strani Slovenskega terminološkega portala na povezavi #[a(href="http://terminoloski.slovenscina.eu" target="_blank") http://terminoloski.slovenscina.eu] izpolnite zahtevane podatke in kliknete »Registracija«.
    span Svoje soglasje lahko kadar koli umaknete z izbrisom uporabnikovega profila v razdelku »Nastavitve računa«.
    span V primeru umika soglasja ter ukinitvi profila ne bomo več uporabljali vaših osebnih podatkov za komunikacijo z vami.
    span Morebiten umik soglasja ne vpliva na zakonitost obdelave vaših osebnih podatkov v času, preden je bil umik podan.
    .mt-4
    h2 Vaše pravice
    span V skladu z določili Splošne uredbe EU o varstvu osebnih podatkov (GDPR) imate pravico do dostopa do svojih osebnih podatkov, pravico do popravka, pravico do izbrisa (»pozabe«), pravico do prenosljivosti, pravico zahtevati omejitev obdelave osebnih podatkov in pravico do ugovora. Svoje podatke lahko kadar koli pregledate ter spremenite s klikom na povezavo »Sprememba nastavitev profila«.
    p Pri uveljavljanju vseh svojih pravic ali pri pridobivanju dodatnih informacij se obrnite na našo pooblaščeno osebo za varstvo podatkov, ki vam je na voljo na e-naslovu: #[a(href="mailto:dpo@uni-lj.si") dpo@uni-lj.si]. Vašo vlogo bomo obravnavali in nanjo odgovorili v skladu z GDPR.
    p Če menite, da so kršene vaše pravice ali predpisi o varstvu osebnih podatkov, se lahko pritožite pristojnemu državnemu organu:
    p Pritožbo lahko podate Informacijskemu pooblaščencu (Dunajska cesta 22, 1000 Ljubljana, e-naslov: #[a(href="mailto:gp.ip@ip-rs.si") gp.ip@ip-rs.si] telefon: 012309730, spletna stran: #[a(href="www.ip-rs.si" target="_blank") www.ip-rs.si] )
    .mt-4
    h2 Čas hrambe osebnih podatkov
    p Univerza v Ljubljani hrani vaše osebne podatke (ime, priimek, e-naslov) toliko časa, kolikor je to potrebno za namen vaše uporabe Slovenskega terminološkega portala od registracije do ukinitve računa.
    .mt-4
    h2 Uporabniki osebnih podatkov
    p Pogodbeni obdelovalec, ki za Univerzo v Ljubljani vzdržuje in gostuje spletno stran.
    .mt-4
    h2 Prenos osebnih podatkov v tretjo državo ali mednarodno organizacijo
    p Osebni podatki se ne prenašajo v tretje države ali mednarodne organizacije.
    .mt-4
    h2 Piškotki
    .mt-3
    h4 Kaj so piškotki?
    p Piškotek je datoteka, ki shrani nastavitve spletnih strani. Spletna mesta piškotke shranijo v naprave uporabnikov, s katerimi dostopajo do interneta z namenom prepoznavanja posameznih naprav in nastavitev, ki so jih uporabniki uporabili pri dostopu. Piškotki omogočajo spletnim stranem prepoznavanje, če je uporabnik že obiskal to spletno mesto in pri naprednih aplikacijah se lahko z njihovo pomočjo ustrezno prilagodijo posamezne nastavitve. Njihovo shranjevanje je pod popolnim nadzorom brskalnika, ki ga uporablja uporabnik - ta lahko shranjevanje piškotkov po želji omeji ali onemogoči.
    h4 Zakaj so piškotki potrebni?
    p Piškotki so temeljnega pomena za zagotavljanje uporabniku prijaznih spletnih storitev; najpogostejše funkcije e-poslovanja ne bi bile mogoče brez piškotkov. Interakcija med spletnim uporabnikom in spletno stranjo je s pomočjo piškotkov hitrejša in enostavnejša. Z njihovo pomočjo si spletna stran zapomni posameznikove preference in izkušnje, brskanje po spletnih straneh pa je s tem bolj učinkovito in prijetno. Razlogov za uporabo piškotkov je več. Uporabljajo se za shranjevanje podatkov o stanju posamezne spletne strani (podrobnosti o prilagoditvah posamezne spletne strani), pomagajo pri izvajanju spletnih storitev (npr. spletne trgovine), pomagajo pri zbiranju statistik o uporabnikih in obiskanosti spletnega mesta, o navadah spletnega uporabnika , itd. S pomočjo piškotkov lahko torej ocenimo učinkovitost zasnove našega spletnega mesta. O priporočeni in dovoljeni uporabi piškotkov na spletnih straneh si lahko preberete na straneh #[a(href="https://www.ip-rs.si" target="_blank") informacijskega pooblaščenca].
    h4 Seznam piškotkov na naši spletni strani
    .mt-2
    h4 Lastni piškotki
    p #[b sid] - Sistemski piškotek. Uporablja se tudi za prijavo uporabnikov. Potreben je za pravilno delovanje strani. Piškotek je prisoten do 2 uri po vaši zadnji aktivnosti na portalu.
    p #[b remember_me] - Uporablja se za prijavo uporabnikov za daljši čas, če ste ob prijavi izbrali možnost "Zapomni si prijavo". Piškotek je prisoten 1 leto po vaši zadnji aktivnosti na portalu.
    p Piškotki, ki jih uporabljamo na naši spletni strani, ne zbirajo vaših osebnih podatkov, s katerimi bi vas bilo mogoče osebno prepoznati in ne morejo poškodovati vašega računalnika, tablice ali mobilnega telefona. Piškotki omogočajo delovanje našega spletnega mesta in nam pomagajo razumeti, katere informacije so najkoristnejši za obiskovalce.
    .mt-4
    h2 Priglasitev
    p Z uporabo tega spletnega mesta se strinjate, da to spletno mesto nastavi piškotke na vašem računalniku ali mobilni napravi.
    .mt-4
    h2 Upravljanje in brisanje piškotkov
    p Če želite spremeniti način uporabe piškotkov v brskalniku, vključno z blokiranjem ali izbrisom, lahko to storite z ustrezno spremembo nastavitev brskalnika. Za upravljanje piškotkov vam večina brskalnikov omogoča, da sprejmete ali zavrnete vse piškotke, sprejmete samo določeno vrsto piškotkov ali pa vas opozori, da stran želi shraniti piškotek. Piškotke, ki jih je brskalnik shranil, lahko tudi enostavno izbrišete. Če spremenite ali izbrišete brskalnikovo datoteko s piškotki, spremenite ali nagradite vaš brskalnik ali napravo, boste morda morali ponovno onemogočiti piškotke. Postopek za upravljanje in brisanje piškotkov se razlikuje od brskalnika do brskalnika. Če pri tem potrebujete pomoč, lahko pogledate v brskalnikovi pomoči uporabnikom.
    .mt-4
    h2 Navodila za urejanje piškotkov v posameznih brskalnikih:
    ul
      li #[a(href="https://support.google.com/chrome/answer/95647?hl=sl" target="_blank") Google Chrome]
      li #[a(href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-10" target="_blank") Internet Explorer]
      li #[a(href="https://support.apple.com/guide/safari/manage-cookies-sfri11471/mac" target="_blank") Safari]
      li #[a(href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=en-US" target="_blank") Firefox]
      li #[a(href="https://help.opera.com/en/latest/web-preferences" target="_blank") Opera]
  include /common/footer
