extends /layout

block body
  section.sticky-top
    include /common/main-navigation
    +main-navigation(false)
  .consultancy-padding-main.p-squeeze-lg.mt-2
    h1 POGOJI UPORABE - SLOVENSKI TERMINOLOŠKI PORTAL
    p Dobrodošli na Slovenskem terminološkem portalu, ki je bil razvit v okviru projekta #[i Razvoj slovenščine v digitalnem okolju], ki sta ga sofinancirala Ministrstvo za kulturo Republike Slovenije in Evropski sklad za regionalni razvoj.
    p Spletno mesto je bilo postavljeno z namenom celostne uporabe in urejanja slovenske terminologije.
    p Prosimo vas, da kot obiskovalec našega spletnega mesta upoštevate spodaj naštete pogoje. Z ogledom tega spletnega mesta potrjujete, da se s pogoji strinjate in jih v celoti sprejemate.
    p Uporaba Slovenskega terminološkega portala je na voljo uporabnikom pod licenco #[a(href="https://creativecommons.org/licenses/by/4.0/legalcode.sl" target="_blank") CC BY 4.0]. Vsi viri, ki jih boste oblikovali in uredili ter javno objavili na Slovenskem terminološkem portalu, bodo na voljo tudi drugim registriranim uporabnikom pod licenco CC BY 4.0.
    .mt-2
    h2 Varstvo osebnih podatkov
    p Slovenski terminološki portal uporablja piškotke. Več o obdelavi osebnih podatkov je navedeno v #[a(href="/politika-zasebnosti" target="_blank") Politiki zasebnosti].
    p Zahvaljujemo se vam za obisk.

  include /common/footer
