extends ../../common/side-navigation-common

.admin-nav
  .admin-nav-mobile
    button#nav-button.nav-button
      img#burger-menu-img(src="/images/burger-menu-button-icon.svg" alt="Meni")
    span.nav-title Administrator
  nav
    ul.admin-nav-content.slidable
      li.admin-nav-item
        a(href="#")
          img(src="/images/cog.svg" alt="")
          p Osnovne nastavitve
      li.admin-nav-item.focused-menu
        a.menu-selected(href="#")
          img(src="/images/link.svg" alt="")
          p Povezave
        ul.sub-links
          li
            a.menu-selected(href="#") Portali
          li
            a(href="#") Domači slovarji
          li
            a(href="#") Tuji slovarji
      li.admin-nav-item
        a(href="#")
          img(src="/images/book.svg" alt="")
          p Slovarji
      li.admin-nav-item
        a(href="#")
          img(src="/images/users.svg" alt="")
          p Uporabniki
      li.admin-nav-item
        a(href="#")
          img(src="/images/areas.svg" alt="")
          p Področja
      li.admin-nav-item
        a(href="#")
          img(src="/images/statistics.svg" alt="")
          p Statistika
