.classic-search-container
  .classic-search.border1px-gray-2
    input.input-search(type="text" placeholder="Išči")
    .position-relative
      button#inline-search-btn.border-0.bg-transparent
        img(src="/images/search.svg" alt="")
