#offset-padding.header-section-root
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap
    .header-container-left-side.d-flex
      #chevrons-left.d-flex.align-items-start.justify-content-start
        .header-section-root
          .header-container-divider-left.pe-5
            h2 Naslov
            h1 Podnaslov
            span.d-block.pe-5
              | Splošen opis področja. Anim duis u llamco Lorem reprehenderit.
              | Reprehenderit aliqua quis ut velit eu irure non ad sunt sunt
              | ipsum sunt esse.
          block right-section
