#offset-padding.header-section-root
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap
    .header-container-left-side.d-flex
      #chevrons-left.d-flex.align-items-start.justify-content-start
        .header-section-root
          .header-container-divider-left.pe-5
            h2= t('Naslov')
            h1= t('Podnaslov')
            span.d-block.pe-5
          block right-section
