extends ../generic-main-panel-header

block right-section
  .header-container-divider-right
    button.optional-floating-action-button
      | Besedilo gre tukaj
    button.optional-floating-action-button
      | Besedilo gre tukaj
